/Pytorch_Learn_Codes/data
/Pytorch_Learn_Codes/runs
/Computer_Vision/ComputerVisionMasterclass/required
/Computer_Vision/ComputerVisionMasterclass/yalefaces
/Computer_Vision/ComputerVisionMasterclass/homer_bart_1
/Computer_Vision/ComputerVisionMasterclass/homer_bart_2
/Computer_Vision/ComputerVisionMasterclass/fer2013
/Computer_Vision/ComputerVisionMasterclass/simpson_network1.json
/Computer_Vision/ComputerVisionMasterclass/simpson_network2.json
/Computer_Vision/ComputerVisionMasterclass/conv_simpson_network.json
/Computer_Vision/ComputerVisionMasterclass/simpson_features.csv
*.mp4
*.yml
*.hdf5
**/.idea